<div class="row msg">
    <p class="newText">
        Hello, <span style="text-transform: capitalize;">{{user_name}}</span> has been greeted {{counter}} time(s).
    </p>
    <div class="navigation">
        <a class="home" href="/home"> Home </a>
        {{!-- <input type="button-primary button" value="Go back!" onclick="history.back()"> --}}
        <span><a class="back" value="Go back!" onclick="history.back()"> Back </a></span>
    </div>

    <div class="row extra">
        <img src="/images/greetings.jpg" alt="shake" width="50%">
    </div>
</div>