<div class="row">
  <h3>Greeted Users</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th>Count</th>
    </tr>
    {{#each greet}}
      <td>{{name}}</td>
      <td>{{language}}</td>
      <td>{{count}}</td>
    {{/each}}
  </table>
</div>
