<div class="row">
  <h3>Greeted Users</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th>When</th>
    </tr>
    {{#each greeted}}
      <td>{{greeted.name}}</td>
      <td>{{greeted.language}}</td>
      <td>{{greeting.time}}</td>
    {{/each}}
  </table>
  <button onclick="goBack()">Go Back</button>
</div>
