<div class="row">
  <h3>Greeted Users</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th>When</th>
    </tr>
    {{#each greet}}
      <td>{{name}}</td>
      <td>{{language}}</td>
      <td>{{time}}</td>
    {{/each}}
  </table>
  <button onclick="goBack()">Go Back</button>
</div>
